*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #383838;
	color: white;
	font-family: 'Roboto Mono', monospace;
}

header{
	height: 10vh;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-column{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.btn{
	margin: 10px;
	padding: 5px;
}

#monsterInterface{
	height: 60vh;
	background-color: #A5A5A5;
}

#playerStats{
	height: 100%;
	width: 20vw;
	background-color: black;
	opacity: 0.8;
}

#monsterStats{
	height: 100%;
	width: 53.5vw;
}

#monsterImage{
	height: 100px;
	width: 100px;
}

#upgrades{
	width: 25vw;
	height: 100%;
	background-color: black;
	opacity: 0.8;
}

#skills{
	height: 15vh;
}